.palette-group {
  display: flex;
  flex-direction: row;
  width: 100%;

  .palette-swatches {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .palette-label {
    width: 100px;
    font-size: 0.75em;
    margin-bottom: 0.5rem;
  }
}
