.swatch {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  height: 100px;
  font-size: 0.75rem;
  width: 100%;
  border: 1px solid transparent;

  &.swatch-is-500 {
  }

  &.text-is-dark {
    h5,
    p {
      color: #111;
    }
  }

  h5 {
    margin-bottom: 0.5rem;
  }

  h5,
  p {
    color: white;
  }
}
